Button{
  border-radius: 15px;
  background-color:transparent;
  border-color: #ffffff;
  border-width:3px;
  color: #ffffff;
  width:150px;
  height:150px;
  transition: scale 0.1s ease-in-out;
}

Button:hover {
  scale: 1.08;
}

Button:active {
  scale: 0.95;
}